




<div>
    <p>
        Please open the link in the same browser to reset the password
    </p>

    <a href="http://localhost:8000/reset-password/authorization/<%= accessToken.token %>"> Click to Reset Password</a>
</div>